body{
    background-color:#212529;
}
.name{
    color: rgb(231, 197, 5);
    
}

.imagen {
    position:absolute;
    filter: blur(4px);
    height: fit-content;
}

header{
    position: relative;
    
}
section{
    margin-top:15% ;
    
}

ul{
    list-style-type: none;
}

.fotos-card{
    height: 20rem;
    background-size: contain;
    align-items: center;
    background-repeat: no-repeat;
}

a{
    text-decoration: none;
    color: gray;
}

.card{
    height: 25rem;
}