*{
    margin: 0;
    padding: 0;
}

body{
    background-color: whitesmoke;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}
.h1{
    color: chocolate;
    text-align:center;
    margin: 0;
    font-style: italic;
    padding-top: 15%;
}
.banner{ 
    background-image:url(../imgs/baner.jpg);
    background-size: cover;
    background-position: center;
}

/* linea reemplazada por  class "h1"
.banner-text{      
    color: rgba(16, 212, 42, 0.767);
    text-align: right;
    text-decoration: none;
    font-size: 2rem;
    font-style: italic;
    padding-top: 15vh;
}*/

td{
   font-size: 30px;   
}

td{
    padding: 2.5em;
}



img{
    max-width: 150px;
}

.p{
    background-color: rgba(210, 105, 30, 0.486);
    font-family:sans-serif;
    padding-left: 3.5rem;
}
